<%= form_for :questions do |f| %>
	<div class="container">
		<div class="col-md-8">
		  <p>
		    <%= f.label :title %>
		    <%= f.text_field :title %>
		  </p>
		</div>
		
		<div class="col-md-10">
		  <p>
		    <%= f.label :text %><br>
		    <%= f.text_area :text %>
		  </p>
		</div>
	
		<div class="radio-inline col-md-10">
	  <p>
	    <%= radio_button 'radio', 'index' ,"1" %>Readable!
	    <%= radio_button 'radio', 'index' ,"2" %>Speed!
	    <%= radio_button 'radio', 'index' ,"3" %>行数!
	    <%= radio_button 'radio', 'index' ,"4" %>再利用性!
	  </p>
		</div>
	
	  <p>
	    <%= f.label :tag %>
	    <%= f.text_field :tag %>
	  </p>
	
	  <p>
	    <%= f.label :code %>
	    <%= f.text_area :code %>
	  </p>
	  
	  <p>
	    <%= f.submit %>
	  </p>
	</div>
<% end %>
